package global

templ Footer() {
	<footer class="bg-neutral-950 text-white p-4">
		<div class="max-w-7xl mx-auto">
			<h1 class="text-3xl font-black uppercase tracking-tight lg:leading-none lg:text-6xl">Footer</h1>
		</div>
	</footer>
}
